* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
    font-size:14px; 
    font-family: "Arial";
}

body {
    margin:0px;
    text-align: center;
}

[contenteditable] {
    cursor: text;
}
button, select, .table-control {
    font-family: "Hanken Grotesk", "Arial";
    background-color: #FFFFFF;
    border: none;
    color: #323232;
    cursor:pointer;
    outline: none;
}

button:hover, select:hover {
    background-color: #DDDDDD;
}

#parameters {
    position: fixed;
    right:0px;
    top:0px;
    z-index: 2;
    background-color: #FFFFFF;
    border:none;
    border-bottom: 1px solid #DDDDDD;
    -webkit-app-region: drag;
    text-align: right;
    width:100%;

}

#parameters button {
  padding-top:5px;
  bottom:0px;
  vertical-align:top;
  -webkit-app-region: no-drag;

  /*
    padding-left:20px;
    padding-right:20px;
    margin:0px;
    */
}

#parameters select {
    vertical-align:top;
    width:220px;
    font-weight: bold;
    text-align: left;
    margin-right:5px !important;
    padding:0px!important;
    margin:0px;
    height:30px !important;
    -webkit-app-region: no-drag;

}

#memo {
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
    border-collapse:separate;
    border-spacing:0 15px;
}



#insert-selector {
    text-align: center;
    font-size: 20px;
    padding:10px;
    width:50px;
    border: dashed 1px #DDDDDD;

    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#footer {
    margin-left:40px;
    margin-right:40px;
    margin-top:20px;
    margin-bottom:20px;

    bottom: 0;
    left:0px;
    right:0px;

    text-align: center;
}

textarea {
    width: 100%;
    left: 0; right: 0;
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    resize: none;
    /* these ensure the textarea doesn't overflow out of its container div*/ 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#download-button {
    font-weight: bold;
}

#location {
    text-align:right;
    font-weight: bold;
    font-size:10px;
}

#logo {
    max-width: 30%;
}

table {
    width:100%;
}

.content-table {
    border-spacing: 0px;
    margin-bottom: 2px;
}

.content-table input {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    border: none;
}

tr {
    border: solid 1px #FF0000 !important;
    width:100%;
    page-break-inside: avoid;
}

th {
    border: 1px solid #323232;
    padding:2px;
    white-space: nowrap;
}

td {
    border: 1px solid #DDDDDD;
    padding:0px;
    /*white-space: nowrap;*/
    text-align: left;
}

#proposal-header-right {
    text-align:right;
    vertical-align: top;
}

#proposal-header-right input {
    text-align: right;
}

#proposal-header-left {
    vertical-align: top;
}

#proposal-title {
    font-weight: bold;
    font-size:16px;
    text-align: center;
}

#title-address {
    text-align: center !important;
}

#proposal-header {
    display:none;
}

#geotechnical-header {
    display:none;
}

.section-header {
    font-weight: bold;
}

.image-drop-area{
    width: 100%;
    background-position: center;
    background-size: cover; 
    box-sizing: border-box;
    height:500px;
    border: 1px dashed #DDDDDD;
    margin: 0 auto; /* centers image in row */
}

.image {
    position: relative;
}

#footer-label {
    font-weight: bold;
}

#review-container {
    display:none;
}

/* add placeholders to contenteditable divs */ 
div[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

div[placeholder]:empty:focus:before {
    content: "";
}

@media print {
    @page {
        size: auto;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        page-break-before: always; /*This style rule makes every page element start at the top of a new page:*/
    }

    body * {
        visibility: hidden;
    }

    #memo, #memo * {
        visibility: visible;
        border: none;

    }

    #footer {
        position:fixed;
        visibility: visible;
        /*counter-increment: page;*/

    }

    #footer * {
        visibility: visible;
        border:none;
    }

    #memo {
        position: absolute;
        left: 0;
        top: 0;
    }

    textarea:focus, input:focus{
        outline: none;
    }

    textarea, input {
        outline: none;
        border: none;
    }

    .table-control {
        display: none;
    }

    .content-table * {
        border: 1px solid #000000 !important;
    }
    
    button, select {
        display: none;
    }

    #risk-selector {
        display:inline-block;
    }

    /* hide placeholders */
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #fff;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #fff;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #fff;
    }

    #type-selector {
        display: none;
    }
}
